/* Reset CSS */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-green: #41b3a3;
  --color-green-light: #85dcb7;
  --color-dark-green: #379683;
  --color-gray: #9B9B9B;
  --color-dark-blue: #05386B;

  /*========== Font and typography ==========*/
  --body-font-main: 'Montserrat', sans-serif;
  --body-font-sec: 'Roboto', sans-serif;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*==================== REUSABLE CSS CLASSES ====================*/
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--body-font-main);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: var(--color-light);

  background-color: var(--color-green);
}

.container {
  position: relative;

  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;

  height: 2px;
  width: 100%;

  background-color: var(--color-dark-green);
}

.title {
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

/*==================== Header ====================*/
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  text-transform: uppercase;
}

.logo {
  padding-right: 30px;

  font-family: var(--body-font-sec);
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark-blue);
  text-align: center;
}

.logo span {
  display: block;

  text-transform: capitalize;
  font-family: var(--body-font-main);
  font-size: 14px;
}


.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;

  font-size: 14px;
}

.menu__item {
  padding: 5px;

  transition: background-color 0.5s linear;
}

.menu__item:hover {
  background-color:var(--color-dark-blue);
}

/*==================== Main ====================*/
.main {
  flex-grow: 1;
}

/*==================== Hero ====================*/
.hero__container {
  display: flex;
  justify-content: end;
  padding-top: 120px;
  padding-bottom: 120px;

  background: url("../img/Hero/bg-hero.png") no-repeat left bottom / 350px;
}

.hero__text {
  padding-right: 100px;

  font-family: var(--body-font-sec);
}

.hero__subtitle {
  padding-bottom: 10px;

  font-size: 24px;
  font-weight: 500;
  opacity: 0.6;
}

.hero__title {
  padding-bottom: 10px;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__info {
  font-size: 22px;
}

.hero__info span {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-dark-blue);
}

/*==================== Contacts ====================*/
.contact__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact__inner {
  padding-left: 100px;

  font-style: normal;
}
.contact__item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

.contact__text {
  max-width: 200px;
  width: 100%;

  text-transform: uppercase;
  font-weight: 500;
}

.contact__link {
  max-width: 200px;
  width: 100%;

  transition: color 0.3s linear;
}

.contact__link:hover {
  color: var(--color-dark-blue);
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

/*==================== Personal ====================*/
.personal__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.personal__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.personal__text {
  max-width: 600px;
}

.personal__img {
  width: 250px;
  height: 250px;
}
/*==================== Skills ====================*/
.skills__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills__item {
  margin: 0 auto;
  max-width: 700px;

  background-color: var(--color-green-light);
  border: 1px solid var(--color-dark-blue);
}

.skills__item:not(:last-child) {
  margin-bottom: 5px;
}

.skills__progress {
  padding: 5px;
  display: block;
  background-color: var(--color-dark-green);
}
/*==================== Example ====================*/
.example__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.example__code {
  display: flex;
  justify-content: center;
  margin: 0;
  
  font-weight: 500;
  font-family: var(--body-font-main);
  line-height: normal;
  color: var(--color-dark);
}
/*==================== Education ====================*/
.education__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.education__list {
  padding-left: 100px;
  list-style-type: circle;
}

.education__item::marker {
  color: var(--color-dark-blue);
}

.education__item-title {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dark-blue);
  
}

.education__sublist {
  padding-left: 40px;
  list-style-type: disclosure-open;
}

.education__subitem::marker {
  color: var(--color-dark-green);
}

.education__sublink {
  font-weight: 700;
  color: var(--color-dark);
  text-decoration: underline;

  transition: background-color 0.5s linear,
              color 0.3s linear;
}

.education__sublink:hover {
  color: var(--color-dark-green);
  background-color: var(--color-dark-blue);
}
/*==================== English ====================*/
.english__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.english__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.english__text {
  font-size: 50px;
  font-weight: 500;
}

/*==================== Footer ====================*/
.footer {
  background-color: var(--color-green-light);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 24px;
  font-weight: 500;
}

.footer__link {
  display: flex;
  column-gap: 5px;

  color: var(--color-light);

  transition: color 0.3s linear;
}

.footer__link-img {
  fill: currentColor;
}

.footer__link:hover {
  color: var(--color-dark-blue);
}

.footer__logo {
  width: 100px;
  height: 50px;
}